# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Arithmetic Operators
* Arithmetic operators are used with numeric values to perform common mathematical operations

In [8]:
# %pip install pandas
# %pip install lxml

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [9]:
a : int = 9
b : int = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)

13
5
36
2.25

In [11]:
a : int = 11
b : int = 4

print(a % 3) # modulas/remaining function

2

In [12]:
print(2 ** 2)
print(34 ** 6)

4
1544804416

In [18]:
print(12 / 3)
print(14.8 / 3)
print(14.8 // 3) 
print(13 // 3)  #floor function shows only 1st number, dont show number after decimal
print(13.8 // 3)

4.0
4.933333333333334
4.0
4
4.0

# Python Assignment Operators
* Assignment operators are used to assign values to variables

In [5]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [6]:
# =
a : int = 9
print(a)

9

In [12]:
# +=
a : int = 9
print(a)

a = a + 3  # Old method
print(a)

9
12

In [13]:
# +=
a : int = 9
a += 3  # New method
print(a)

12

In [14]:
# -=
a : int = 9
a -= 3  # New method
print(a)

6

In [15]:
# *=
a : int = 9
a *= 3  # New method
print(a)

27

In [16]:
# /=
a : int = 9
a /= 3  # New method
print(a)

3.0

In [17]:
# %=
a : int = 9
a %= 3  # New method
print(a)

0

In [18]:
# //=
a : int = 9
a //= 3  # New method
print(a)

3

In [19]:
# **=
a : int = 9
a **= 3  # New method
print(a)

729

In [21]:
# := assign new variable & value
a : int = 9

print(b := 5)

5