In [1]:
print (name)

NameError: name 'name' is not defined

In [2]:
name : str = "Ayesha"
print (name)

Ayesha

# String data type in python

In [4]:
# 1st method & Boundries
# "string text",""string text"","""string text""" , 'string text',''string text'' ,'''string text'''
# `string text` works in typescript not working in python

name : str = "Ayesha" 
print(type(name)) 
print(name)

<class 'str'>
Ayesha

In [6]:
messange : str = 'student Name \n father's Name'

SyntaxError: unterminated string literal (detected at line 1) (197887960.py, line 1)

In [9]:
# \n new line
message : str = "student Name \n father's Name"
print(message)

student Name
 father's Name

In [11]:
message : str = '"student Name" \n father Name'
print(message)

"student Name"
 father Name

In [12]:
# convert any special charcter into simple charater by placing \ before the charater
message : str = "student Name \n father\'s Name" # check \before the s
print(message)

student Name
 father's Name

In [13]:
"a" + "b" + "c" # + is concatinating the 2 strings

'abc'

In [17]:
"a" + 8

TypeError: can only concatenate str (not "int") to str

In [ ]:
# we can change integer into string by using these methods 
"a" + "8" 
"a" + str(8)

In [5]:
# 1st method & Boundries
# "string text",""string text"","""string text""" , 'string text',''string text'' ,'''string text'''
# `string text` works in typescript not working in python

name : str = 'Ayesha'
print(type(name)) 
print(name)

<class 'str'>
Ayesha

In [20]:
# 1st method & Boundries
# "string text",""string text"","""string text""" , 'string text',''string text'' ,'''string text'''
# `string text` works in typescript not working in python

name : str = 'Ali'
fname : str ="Abdullah"
education : str = "Master in blockchain"
age : int = 28

card : str = "Piaic Student Card\nStudent Name: " + name + "\nAge: " + str(age)

print(card)

Piaic Student Card
Student Name: Ali
Age: 28

In [1]:
# 1st method & Boundries
# "string text",""string text"","""string text""" , 'string text',''string text'' ,'''string text'''
# `string text` works in typescript not working in python

name : str = 'Ali'
fname : str ="Abdullah"
education : str = "Master in blockchain"
age : int = 28

card : str = "Piaic Student Card\nStudent Name: " + name +\
      "\nAge: " + str(age) + "\n"+\
      "Education: " + education

print(card)

Piaic Student Card
Student Name: Ali
Age: 28
Education: Master in blockchain

In [21]:
print(3 + 4 + 9)

16

# For line continue use \

In [26]:
# for new lines may be due to spacing issue
print(3 + \
      4 + \
      9)

16

# Define multiline String by using """ """ , ''' '''

In [7]:
# By using """ """ we can show text in multiline & dont need to add \n or \ for new line

name : str = 'Ali'
fname : str ="Abdullah"
education : str = "Master in blockchain"
age : int = 28

card : str = """
PIAIC Student Card
Student Name: ....
Father's Name: ...
Age: ...
Education: ... """

print(card)

PIAIC Student Card
Student Name: ....
Father's Name: ...
Age: ...
Education: ...

# F-string Python

In [9]:
# 1st F-string benefit Use for multiline text & variable input
# by adding f in start "" & after the = will allow us to show variable value, then to show variable value use {} 
# u can pass variable name inside {}, but in Ts we r using `` for multiline & $ sign for showing variable name

name : str = 'Ali'
fname : str = "Abdullah"
education : str = "Master in blockchain"
age : int = 28

card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name : {fname}
Age : {age}
Education : {education} """

print(card)

PIAIC Student Card
Student Name : Ali
Father's Name : Abdullah
Age : 28
Education : Master in blockchain

In [10]:
# 2nd F-string benefit Use for adding or performing any function or expression inside the {}
# by adding f in start "" & after the = will allow us to show variable value, then to show variable value use {} 
# u can pass variable name inside {}, but in Ts we r using `` for multiline & $ sign for showing variable name

name : str = 'Ali'
fname : str = "Abdullah"
education : str = "Master in blockchain"
age : int = 28

card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name : {fname}
Age : {age}
Education : {education} 

total : {35 + 8 + 98}
'''

print(card)

PIAIC Student Card
Student Name : Ali
Father's Name : Abdullah
Age : 28
Education : Master in blockchain

total : 141

# F-string & Jinja Style Formating

In [11]:
# F-string style (mostly used style)
f"""
student name {name}
"""

'\nstudent name Ali\n'

In [ ]:
# Jinja style works on server when html page loads, it shows result there , used {{}} 
f"""
student name {{name}}
"""

In [ ]:
name : str = 'Ali'
fname : str = "Abdullah"
education : str = "Master in blockchain"
age : int = 28

#basic method for concatination in C++
card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name : %s
Age : %d
Education : %s

""" % {name, fname, age, education}

print(card)

In [15]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
[i for i in dir(str) if not "_" in i ] # string methods

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
name : str ="aYEsHa HuSsAin"

print(name.capitalize())
print(name.lower())
print(name.upper())
print(name.swapcase())
print(name.title())

Ayesha hussain
ayesha hussain
AYESHA HUSSAIN
AyeShA hUsSaIN
Ayesha Hussain

In [27]:
# f-string method part new
a = 9
b = 5

# {} place holder
#               0             1         0,1
'math value a = {} & valu b = {}'.format(a,b)

'math value a = 9 & valu b = 5'

In [28]:
name : str = 'Ali'
fname : str = "Abdullah"
education : str = "Master in blockchain"
age : int = 28

card : str = '''
PIAIC Student Card
Student Name : {}
Father's Name : {}
Age : {}
Education : {} 

'''.format(name, fname, education, age)#if we use formate method shows wrong info if we put 
         # 0        1      2        3     #any wrong value in index, see results . much better use f string method
print(card)

PIAIC Student Card
Student Name : Ali
Father's Name : Abdullah
Age : Master in blockchain
Education : 28

In [30]:
name : str = 'Ali'
fname : str = "Abdullah"
education : str = "Master in blockchain"
age : int = 28

card : str = '''
PIAIC Student Card
Student Name : {1}
Father's Name : {0}
Age : {3}
Education : {2} 

'''.format(fname, name, education, age)#if we use formate method shows wrong info if we put any wrong value in index
         # 0        1      2        3     #see results.but if add index in {} it resolve the issue
print(card)

PIAIC Student Card
Student Name : Ali
Father's Name : Abdullah
Age : 28
Education : Master in blockchain

# Recommended Below 2 F-String Methods

In [1]:
name : str = 'Ali'
fname : str = "Abdullah"
education : str = "Master in blockchain"
age : int = 28

card : str = '''
PIAIC Student Card
Student Name : {a}
Father's Name : {b}
Age : {c}
Education : {d} 

'''.format(b = fname, a = name, d = education, c = age)#if we use formate method shows wrong info if we put any wrong value in index
                                                       #see results.but if add index in {} it resolve the issue
print(card)

PIAIC Student Card
Student Name : Ali
Father's Name : Abdullah
Age : 28
Education : Master in blockchain

In [ ]:
name : str = 'Ali'
fname : str = "Abdullah"
education : str = "Master in blockchain"
age : int = 28

#basic method for concatination in C++
card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name : %s
Age : %d
Education : %s

""" % {name, fname, age, education}

print(card)

In [2]:
student_code : str = """
print("Ayesha")
a : int = 4
b : int = 9
print(a + b)
"""
exec(student_code)

Ayesha
13

# String Method & Attribute
 Pre-Define Global Methods we have used,

* Print
* Type
* Id
* Dir
* Len

In [3]:
a : list[str] = [i for i in dir(str) if not "_" in i ] # string methods 
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [2]:
name : str = "ayeShA HussaIn"
# variable name.() takes arguments
print(name.capitalize())

Ayesha hussain

In [3]:
name : str = "ayeShA HussaIn"
# casefold applies no case, by default shows small letter
print(name)
print(name.casefold())

ayeShA HussaIn
ayesha hussain

In [4]:
name : str = "ayeShA HussaIn"

print(name.lower())

ayesha hussain

In [6]:
name : str = "             ayeShA HussaIn            "

# L-strip removes all spaces from left side , dont cover center space 
# display function,showing results with list, string or data frame format & print shows in string format
# better use display , shows good format result in jupiter notebook

display(name)
display(name.lstrip())

'             ayeShA HussaIn            '

'ayeShA HussaIn            '

In [7]:
name : str = "             ayeShA HussaIn            "

# R-strip removes all spaces from right side , dont cover center space 

display(name)
display(name.rstrip())

'             ayeShA HussaIn            '

'             ayeShA HussaIn'

In [9]:
name : str = "             ayeShA    HussaIn            "

# strip removes all spaces from right & left side , dont cover center space 

display(name)
display(name.strip())

'             ayeShA    HussaIn            '

'ayeShA    HussaIn'

In [13]:
import re     #re means regix
name : str = "    ayeShA     HussaIn    "

display(name)

# sub means subtitute 1st pattern, 2nd replacement, 3rd variable , 2 & 100 means cover space limit
# use strip for removing space from right & left

name1 : str = re.sub(' {2,100}',' ', name)
display(name1)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'    ayeShA     HussaIn    '

' ayeShA HussaIn '

'ayeShA HussaIn'

In [14]:
name : str = "ayeShA huSsaIn"

# convert 1st letter into capital

print(name.title())

Ayesha Hussain

In [15]:
name : str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [17]:
first_name : str = "ada"
last_name : str = "lovelace"
full_name : str = f"{first_name} {last_name}"
print(full_name)

print(f"Hello, {full_name.title()}!")

ada lovelace
Hello, Ada Lovelace!

# Special Meaning Character
 * \n     new line
 * \b     back space remove
 * \t     tab space

In [19]:
print("Name : \t\t Ayesha Hussain")
print("Name : \n Ayesha Hussain")
print("Name :\b Ayesha Hussain")

Name : 		 Ayesha Hussain
Name :
 Ayesha Hussain
Name  Ayesha Hussain

In [20]:
nostarch_url : str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')     # prefix remove words from start, suffix removes from end

'nostarch.com'

In [22]:
1name : str = "Ada Lovelace"
print(1name)

SyntaxError: invalid decimal literal (1334396435.py, line 1)

In [23]:
_1name : str = "Ada Lovelace"
print(_1name)

Ada Lovelace

In [24]:
piaic student name : str = "Ada Lovelace"
print(piaic student name)

SyntaxError: invalid syntax (2929401030.py, line 1)

In [25]:
piaic_student_name : str = "Ada Lovelace"
print(piaic_student_name)

Ada Lovelace